.home__top-banner {
  background-color: red;
}
.home__top-banner--width {
  max-height: 100px;
  width: 100%;
}
.home__medium-banner {
  background-color: #0f5531;
}
.swiper .swiper-button-prev,
.swiper .swiper-button-next {
  color: rgba(255, 255, 255, 0.8);
}
.swiper .swiper-pagination-bullet-active {
  background: #fff;
}
